body {
	background-image: url("123.jpg");
}

#diasc {
	width: 20%;
	padding: 10px;
	margin-top: 20px;
	border: solid 5px black;
	border-radius: 30px;
	color: rgb(0, 0, 0);
	font-size: 28px;
	margin-left: 39%;
}

#titleText {
	background-color: #108f7a;
	padding: 10px;
	width: 40%;
	border: solid 3px rgb(0, 0, 0);
	border-radius: 100px;
	display: inline-block;
	font-size: 28px;
}